* {
    all: unset;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 16px;
}

window {
    background-color: alpha(#1a1b26, .45);
    border-radius: 14px;
}

#outer-box {
    padding: 25px;
}

#input {
    padding: 16px;
    margin-bottom: 15px;

    color: #c0caf5;
    background-color: alpha(#24283b, .85);

    border-radius: 10px;
}

#inner-box {
    spacing: 6px;
}

#entry {
    padding: 10px;
    border-radius: 8px;
}

#entry:selected {
    background-color: alpha(#7aa2f7, .25);
}

#text {
    color: #c0caf5;
}

#entry:selected #text {
    color: #7aa2f7;
}