* {
    all: unset;
    font-family: 'JetBrains Mono Nerd Font', monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 0px;
    background-color: alpha(#282828, .5);
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {
    border: none;
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}

#input {
    all: unset;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 20px;
    border: none;
    outline: none;
    color: #dcd7d7;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
    background-color: alpha(#dcd7d7, .1);
}

#input image {
    border: none;
    color: #1a86b9;
    padding-right: 10px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: #dcd7d7;
    outline: none;
}

#entry {
    all: unset;
    padding: 20px 0px 20px 45px;
}

#entry arrow {
    border: none;
    color: #7cc7d6;
}

#entry:selected {
    border: none;
    border-radius: 20px;
    background-color: alpha(#1a86b9, .2);
}

#entry:selected #text {
    color: #1a86b9;
}

#entry:drop(active) {
    background-color: #df2683 !important;
}
