* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  border: none;
  border-radius: 0;
  color: #83C092;
  min-height: 0;
  margin: 1px;
}

window#waybar {
  background: rgba(39, 46, 51, 0.8);
  border-radius: 0px;
  font-weight: normal;
  color: #83C092;
}

tooltip {
  border: 1px solid #4a4b4b;
  border-radius: 10px;
  background: rgba(30, 35, 38, 0.95);
  color: #83C092;
}

#workspaces {
  padding: 0 5px;
  color: transparent;
  margin-right: 1.5px;
  margin-left: 1.5px;
  padding: 0px 20px;
}

#workspaces button {
  padding: 2px 8px;
  margin: 2px;
  border-radius: 8px;
  color: rgba(220, 215, 215, 0.6);
}

#workspaces button.active {
  background: #3C4841;
}

#workspaces button.urgent {
  background: #E67E80;
  color: #83C092;
}

#workspaces button:hover {
  background: rgba(0, 15, 8, 0.8);
}

#cava,
#custom-power,
#date,
#backlight,
#pulseaudio,
#workspaces,
#cpu,
#memory,
#power-profiles-daemon,
#temperature,
#clock,
#tray,
#battery,
#custom-notification {
  padding: 0 6px;
  color: #83C092;
}

#custom-notification:hover {
  background: rgba(26, 134, 185, 0.2);
  color: #83C092;
}

#tray menu {
  background: rgba(36, 40, 41, 0.95);
  color: #83C092;
  border-radius: 8px;
  border: 1px solid rgba(74, 75, 75, 0.4);
}

#tray menuitem {
  padding: 4px 8px;
  color: #83C092;
}

#tray menuitem:hover {
  background: rgba(229,195,200, 0.25);
  color: #83C092;
}

#battery.charging {
  color: #98971a;
}

#battery.warning:not(.charging) {
  color: #cc241d;
}

#battery.critical:not(.charging) {
  color: #cc241d;
  animation: blink 0.5s linear infinite alternate;
}
