* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

window {
  background-color: rgba(40, 40, 40, 0.9);
  border-radius: 8px;
  border: 2px solid rgba(152, 151, 26, 0.6);
}

button {
  color: #ebdbb2;
  background-color: #3c3836;
  border-style: solid;
  border-width: 3px;
  border-color: #98971a;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 15px;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}

button:hover,
button:active,
button:focus {
  background-color: #504945;
  color: #fbf1c7;
  border-color: #689d6a;
}

#lock {
  background-image: url("./icons/lock.png");
}

#shutdown {
  background-image: url("./icons/power.png");
}

#logout {
  background-image: url("./icons/logout.png");
}

#reboot {
  background-image: url("./icons/restart.png");
}