@import url("./colors.css");

* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}

/* General button styling */
button {
    font-family: 'Mononoki';
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: @surface_container_high; /* subtle elevated container */
    color: @on_surface;
}

/* Buttons with icons */
#lock {
    background-image: image(url("../../.config/wlogout/icons/lock.png"));
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 6px @shadow;
}

#shutdown {
    background-image: image(url("../../.config/wlogout/icons/power.png"));
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 6px @shadow;
}

#logout {
    background-image: image(url("../../.config/wlogout/icons/logout.png"));
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 6px @shadow;
}

#reboot {
    background-image: image(url("../../.config/wlogout/icons/restart.png"));
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 6px @shadow;
}

/* Hover/Focus state */
button:focus, button:hover {
    background-color: @primary;       /* highlight color */
    color: @on_primary;              /* readable text/icon */
    background-position: center;
    box-shadow: 0 0 10px @surface_tint;
}